body {
    background-color: #000000;
    opacity: 1;
    background: linear-gradient(135deg, #42000055 25%, transparent 25%) -31px 0/ 62px 62px, linear-gradient(225deg, #420000 25%, transparent 25%) -31px 0/ 62px 62px, linear-gradient(315deg, #42000055 25%, transparent 25%) 0px 0/ 62px 62px, linear-gradient(45deg, #420000 25%, #000000 25%) 0px 0/ 62px 62px;}

h1 {
    text-align: center;
    color: #ff0018 !important;
    background: black;
    font-size: 32px;
    margin-bottom: 40px;
    padding: 30px;
    letter-spacing: 1px;

}

.card {
    background-color: rgb(0, 0, 0) !important;
    border: 2px solid red !important;
    padding: 25px;
    margin-bottom: 30px;

}

.card-title {
    color: #ff0019 !important;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: black !important;
    border: none;
    color: white !important;
    font-size: 16px;
    padding-left: 0;
}

.club-logo {
    width: 120px;
    margin-top: 10px;
}